.delivery-content {
    width: 80%;
    max-width: 1200px;
    margin: 150px auto;
}

.delivery-content__title {
    background-color: var(--color-purple);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.delivery-content__item {
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content:space-between;
    margin-top: 5px;
}

.delivery-content__dotted {
    border-bottom: 1px dotted #000;
    flex: 1 0;
    min-width: 20px;
}

@media (max-width: 600px) {
    .delivery-content__item {
        display: block;
        border-bottom: 3px solid var(--color-purple);
    }
}